<h1>Upcoming meetings...</h1>
<div class="meeting-card-big shadow">
  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap">
      <!-- if there are any agendas -->
      <% if @all_current_meetings.any? %>
          <% @all_current_meetings.each do |meeting| %>
          <div class="col-12 col-md-6 col-lg-3 ml-1">
            <div class="item">
              <p><%= meeting.title.slice(0..25) %>
                <% if meeting.title.length > 28 %>
                ...
                <% end  %>
              </p>
              </div>
            </div>
        <% end %>
        <!-- if no agendas -->
      <% else %>
        <p>Nothing upcoming yet...</p>
      <% end %>
    </div>
  </div>
</div>
