<h2>Upcoming meetings...</h2>
<div class="meeting-card-big shadow">
  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap">
      <!-- if there are any meetings -->
      <% if @all_current_meetings.any? %>
          <% @all_current_meetings.each do |meeting| %>
          <div class="col-12 col-md-6 col-lg-3 ml-1">
            <div class="upcoming-meeting-card ">
              <%= link_to 'View', meeting_path(meeting), class: 'btn btn-primary btn-sm meeting-btn'  %>
              <h3><%= meeting.title.slice(0..25) %>
                <% if meeting.title.length > 28 %>
                ...
                <% end  %>

              </h3>
              <p> <%= meeting.date_time.strftime("%A, %d %b at %l:%M %p") %></p>
              </div>
            </div>
        <% end %>
        <!-- if no meetings -->
      <% else %>
        <p>Nothing upcoming yet...</p>
      <% end %>
    </div>
  </div>
</div>
