<h2 class="mt-4">Previous meetings</h2>
<div class="meeting-card-big meeting-card-small shadow">
  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap">
      <!-- if there are any meetings -->
      <% if @previous_meetings.any? %>
        <% @previous_meetings.each do |meeting| %>
          <div class="col-6 col-md-6 col-lg-6 ml-1">
            <div class="upcoming-meeting-card ">
              <%= link_to meeting_path(meeting) do %>
                <h3><%= meeting.title %></h3>
                <p> <%= meeting.date_time.strftime("%A, %d %b at %l:%M %p") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- if no meetings -->
      <% else %>
        <p>No previous meetings yet...</p>
      <% end %>
    </div>
  </div>
</div>
