<div class="container">

  <div class="top-section">
    <%= render "next_meeting" %>
  </div>
  <div class="row">
    <div class="col-6 bottom-left-section">
      <%= render "upcoming_meetings"  %>
    </div>
    <div class="col-6 bottom-right-section">
      <%= render "previous_meetings" %>
    </div>
  </div>
</div>
