<div class="container">
  <h1>Dashboard</h1>
  <%= link_to new_meeting_path class: 'btn btn-primary' do %>
  <div class="btn btn-primary">
    New Meeting <i class="fas fa-plus"></i>
  </div>
  <% end %>
  <div class="top-section">
  <%= render "upcoming" %>

  </div>
  <div class="middle-section">
  <%= render "meetings"  %>

  </div>
  <div class="bottom-section">
  <%= render "previous" %>
  </div>
</div>

