<div class="container">
  <% if @meeting.finish %>
    <%= render 'shared/assigntasks' %>
  <% elsif @meeting.start %>
    <%= render 'shared/transcription' %>
  <% else %>
    <%= render 'shared/agenda' %>
  <% end %>
</div>