<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <% if @meeting.start %>
        <%= render 'shared/transcription' %>
      <% else %>
        <%= render 'shared/agenda' %>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <% if @meeting.start %>
        <%= render 'shared/inprogress' %>
      <% else %>
        <%= render 'shared/premeeting' %>
      <% end %>
    </div>
  </div>
</div>
