<div class="container">
  <!-- <div class="row"> -->
  <!-- <div class="col-12 col-lg-6"> -->
  <% if @meeting.finish %>
    <%= render 'shared/assigntasks' %>
  <% elsif @meeting.start %>
    <%= render 'shared/transcription' %>
  <% else %>
    <%= render 'shared/agenda' %>
  <% end %>
</div>