<div class="container">
  <div class="summary-transcriptions p-2">
    <div class="row">
      <div class="col-4">
        <%= render 'shared/summary-transcription' %>
      </div>
      <div class="col-8">
        <%= render 'shared/summary-task' %>
      </div>
    </div>
    <div class="summary-actio d-flex flex-column align-items-center">
      <%= link_to "Export PDF", meeting_report_path(format: :pdf), target: :_blank, class: "btn btn-primary w-500 mt-5" %>
      <%= link_to "All good? Bye Bye!", meetings_path, class: "btn btn-primary w-500 mt-3 mb-5"  %>
    </div>
  </div>
</div>