<div class="container">
  <div class="summary-transcriptions p-2">
    <%= render 'shared/summary-transcription' %>
  </div>
  <div class="summary-transcriptions p-2 mt-5">
    <h2 class="m-3">Tasks created and sent to Trello!</h2>
    <%= render 'shared/summary-task' %>
  </div>
  <%= link_to "All good? Bye Bye!", meetings_path, class: "btn btn-primary btn-block mt-5"  %>
</div>
