.agenda-card {
    width: 100%;
    height: 88vh;
    background-color: white;

    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
    margin-bottom: 8px;

}

.inprogress-card {
    position: relative;
    width: 88%;
    padding: 20px;
    background-color: #FBFAFA;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
}


.voice-alert {
    color: #FBFAFA;
    font-size: 32px;
    // position: absolute;
    // top: 50%;
    // right: 50%;
    font-style: italic;
}
