.agenda-card {
    width: 100%;
    height: 720px;
    background-color: #FFFEFC;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
    margin-bottom: 8px;

}

.inprogress-card {
    position: relative;
    width: 88%;
    padding: 20px;
    background-color: #FBFAFA;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
}


.voice-alert {
    color: $purple;
    font-size: 16px;
    position: absolute;
    top: -27px;
    right: 2px;
    font-style: italic;
}
