.agenda-card {
 width: 100%;
 height: 100vh;
 background-color: #FBFAFA;
 border-radius: 4px;
 box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);

}

.inprogress-card {
 width: 88%;
 padding: 36px;
 background-color: #FBFAFA;
 border-radius: 4px;
 box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
}
