.summary-transcriptions {
    background-color: #FBFAFA;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(112, 51, 255, 0.4);
}

.audio {
    width: 100%;
      background-color: purple;





}



