<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    <div class="container">
      <div class='brand'>
        syncalyst <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>
      </div>
      <ul class='nav pull-right'>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle avatar mx-1", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "dashboard", meetings_path, class: "nav-link"  %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class='triangle-down center'>
        <p>
          <i class='fa fa-chevron-down fa-2x isDown' id='toggle'></i>
        </p>
      </div>
    </div>
  </nav>
  <br>
</div>