<div class="p-2 d-flex flex-column align-items-center">
  <h2 class="m-3">Your minutes are ready!</h2>
  <% i = 1 %>
  <% @meeting.agendas.each do |agenda| %>
    <% target = "#transcription#{i}" %>
    <% id = "transcription#{i}" %>
    <div class="agenda-cards m-3 w-55" data-toggle="modal" data-target=<%= target %>>
      <div class="agenda-info">
        <p><%= agenda.title %></p>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" id=<%= id %> >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Transcript</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_format(agenda.transcription) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
</div>