<div class="d-flex justify-content-center">
  <div class="inprogress-card mt-4">
    <h1>Transcription</h1>
    <ul>
      <% @meeting.agendas.each do |agenda| %>
        <div class="transcription transcription-display">
          <li><%= agenda.transcription %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>