<div class="inprogress-card mt-4">
  <h1 class="text-center">Meeting in Progress!</h1>
  <h3 class= "ml-3">Agenda Items</h3>
  <div class="agenda">
    <ul>
      <% @meeting.agendas.each do |agenda| %>
        <li>
          <div class="agenda-cards-wrapup m-1">
            <%= agenda.title %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Finish", meeting_summary_path(@meeting), class: "btn btn-primary"  %>
  </div>
</div>