<div class="homepage-banner">
  <div class="container d-flex align-items-start flex-column">
    <h1>Syncalyst</h1>
    <p>Less Stress<br>
      More Impactful Meetings</p>
    <%= link_to 'Contact Us', 'mailto:demo@syncalyst.com?subject=Demo Request from homepage',  class: 'btn btn-primary' %>
  </div>
  <img src="https://mockuphone.com/upload/053c018a528734fa230657dca0821aa0/macbookair13/macbookair13_front.png" alt="mackbookair13_mockup" class="banner-img">
</div>
<div class="homepage-info">
  <div class="row">
    <div class="col">
      1st element
    </div>
    <div class="col">
      2nd element
    </div>
    <div class="col">
      3rd element
    </div>
  </div>
</div>