<div class="container mt-3">
  <div class="construction">
    <h1><i class="fas fa-tools"></i> Syncalyst</h1>
    <p>Coming Soon!</p>
  </div>
  <div class="typewriter">
    <p>Lorem, ipsum dolor sit amet<br>
       consectetur adipisicing, elit. Perspiciatis laborum fuga accusantium praesentium, officia, soluta nulla ut, numquam cupiditate necessitatibus molestiae iure, vel doloribus temporibus sapiente sed quo nostrum laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, beatae, libero minus animi nostrum ratione veniam ipsam ducimus perferendis, repudiandae mollitia, amet harum fugiat commodi saepe expedita esse eos nam!</p>
  </div>
</div>