.agenda-cards {
  background-color: $light-gray;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 95%;
  height: 70px;
  padding: 12px;
}

.agenda-info p {
  line-height: 50%;
  text-align: left;
  
.agenda ul {
  list-style-type: none;
}
  
.agenda-cards:hover {
  transform: translateX(-12px);
    transition: 0.2s ease-out;
    color: $white;
    background-color: $purple;
}

.agenda ul {
  list-style-type: none;
}

.agenda-form {
  position: relative;
  width: 95%;
}

.agenda-input {
  position: absolute;
  top: 85px;
  left: -700px;
  width: 100%;
  overflow: hidden;
  transition: all .1s ease-in;
}
.agenda-input.active {
  left: 10px;
}

.agenda-cards-inprogress {
  background-color: $body-bg;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 8px 16px;
  width: 60%;
  transition: 0.2s ease-out;
}

.agenda-cards-inprogress.active {
  transform: translateX(48px);
  background: linear-gradient(rgba($purple,.1), rgba($purple,.1));
}
