.agenda-cards, .task-cards {
  background-color: $light-gray;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 95%;
  height: 70px;
  padding: 12px;
}

.task-cards-complete {
  background-color: $light-gray;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 70px;
  padding: 12px;
}

.agenda-info p {
  line-height: 50%;
  text-align: left;
}

.agenda ul, .inprogress-card ul {
  list-style-type: none;
}

.agenda-cards:hover, .task-cards:hover {
  transform: translateX(-12px);
    transition: 0.2s ease-out;
    color: $white;
    background-color: $purple;
}

.agenda ul {
  list-style-type: none;
  overflow:hidden;
  padding:0em;
}

.agenda-form {
  position: relative;
  width: 95%;
}

.agenda-input {
  position: absolute;
  top: 85px;
  left: -700px;
  width: 100%;
  overflow: hidden;
  transition: all .1s ease-in;
}
.agenda-input.active {
  left: 10px;
}

.agenda-cards-inprogress {
  background-color: $light-gray;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 80%;
  height: 70px;
  padding: 12px;
  transition: 0.2s ease-out;
}

.agenda-cards-wrapup{
  background-color: $light-gray;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 70px;
  padding: 12px;
}

.agenda-cards-inprogress.active {
  transform: translateX(48px);
  background: linear-gradient(rgba($purple,.1), rgba($purple,.1));

}

.postit {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.postitul li:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.postitul li:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;

}
.postitul li:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

