.meeting-card-big {
  position: relative;
  background-color: rgba($white, .95);
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  height: 300px;
  p {
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 20px;
  }
  h3 {
    font-color: $white;
    font-weight: lighter;
  }
}

.agenda-list li {
  font-weight: lighter;
  font-size: 20px;
}

.scrolling-wrapper{
  overflow-x: auto;
}

.meeting-italic {
  font-style: italic;
}

.upcoming-meeting-card {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid $purple;
  height: 120px;
  width: 100%;
  p {
    padding: 0;
    margin: 0;
  }
}

.meeting-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
