.meeting-card-big {
  position: relative;
  background-color: $white;
  border-radius: 8px;
  padding: 16px;
  // margin: 16px 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.scrolling-wrapper{
  overflow-x: auto;
}

.meeting-card-small {
  // height: 132px;
}

.agenda-meeting-card {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid $purple;
  height: 56px;
  p {
    padding: 0;
    margin: 0;
  }
}

.upcoming-meeting-card {
  background-color: $light-gray;
  position: relative;
  border-left: 4px solid $yellow;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 250px;
  width: 100%;
  padding: 16px;
  text-decoration: none;
  p {
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 20px;
    color: rgba($gray, 0.6);
  }
  h3 {
    font-weight: lighter;
    color: rgba($gray, 0.6);
  }
  a {
    color: rgba($gray, 0.6);
    &:hover{text-decoration: none;
    color: $white;}
  }
  &:hover{transform: translateX(-12px);
    transition: 0.2s ease-out;
    color: $white;}
}

.upcoming-meeting-card-host {
  border-left: 4px solid $purple;
}

.upcoming-meeting-card-host-tag {
  position: absolute;
  bottom: 4px;
  right: 4px;

  p {
  font-size: 12px;
  color: $purple;
  font-style: italic;

  }
}

.meeting-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.meetingstart {
  position: absolute;
  left: 46%;
  top: 44%;
}

.meetingtranscript {
  position: absolute;
  left: 91%;
  top: -12%;
  width: 400px;
}

.cheatsheet {
  position: absolute;
  right: 91%;
  top: -12%;
  width: 400px;
}

.meetingend {
  position: absolute;
  left: 46%;
  top: 103%;
}

.task-avatar {
  position: relative;
}

.task-form {
  position:absolute;
  bottom: -60px;
  display: none;
}

