.wrapup-list-item {
  line-height: 80%;
  text-align: center;
}

// task-form moved to _meeting.scss
.spin {
   -webkit-animation:spin 2s ease-in-out;
    -moz-animation:spin 2s ease-in-out;
    animation:spin 2s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

